.blink__on {
    color: darkgreen;
    animation: blink 150ms infinite;
}

div {
    position: absolute;
    visibility: hidden;
}

.visible {
    padding: 10px;
    visibility: visible;
    border: 1px dashed #222222;
    border-radius: 5px;
    background-color: goldenrod;
    user-select: none;
}

@keyframes blink {
    0% {
        color: #000;
    }
    50% {
        color: green;
    }
    100% {
        color: #000;
    }
}
