.blink__on {
    color: darkgreen;
    animation: blink 150ms infinite;
}

div {
    display: none;
    padding-left: 10px;
    background-color: silver;
    text-align: left;
}

.visible {
    display: block;
    user-select: none;
}

@keyframes blink {
    0% {
        color: #000;
    }
    50% {
        color: green;
    }
    100% {
        color: #000;
    }
}
